@page
@model LagkageHusWebApp.Pages.checkoutcompleteModel
@{
}

<div class="jumbotron text-center">
    <h1 class="display-3">Tak for din bestilling!</h1>
    <p class="lead"><strong>Din bestilling er modtaget</strong> ,venligst tjek dit telefonnummer for yderligere info.</p>
    <hr>
</div>