@page
@model LagkageHusWebApp.Pages.shoppageModel
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Document</title>
</head>
<body>
    <div id="wrapper">
        <div id="product-container">
            <div class="product-card">
                <div class="tittle">
                    <h4>Citron kage </h4>
                </div>
                <div class="product-img">
                    <img class="fruit-cake"
                         src="~/img/citronkage.jpg"
                         alt="Nam Nam lige noget for Jakup">
                </div>
                <div class="price">
                    <p>Pris 22;- </p>   
                </div>
                <div class="buy">
                    <button class="button">køb</button>
                </div>
            </div>
            <div class="product-card">
                <div class="tittle">
                    <h4>Mazarin kage</h4>
                </div>
                <div class="product-img">
                    <img class="fruit-cake"
                         src="~/img/mazarinkage.jpg"
                         alt="Nam Nam lige noget for Jakup">
                </div>
                <div class="price">
                    <p>Pris 24;- </p>
                </div>
                <div class="buy">
                    <button class="button">køb</button>
                </div>
            </div>

            <div class="product-card">
                <div class="tittle">
                    <h4>Kagemand</h4>
                </div>
                <div class="product-img">
                    <img class="fruit-cake"
                         src="~/img/kagemand.jpg"
                         alt="Nam Nam lige noget for Jakup">
                </div>
                <div class="price">
                    <p>Pris 26;- </p>
                </div>
                <div class="buy">
                    <button class="button">køb</button>
                </div>
            </div>
            <div class="product-card">
                <div class="tittle">
                    <h4>Rum kugler</h4>
                </div>
                <div class="product-img">
                    <img class="fruit-cake"
                         src="~/img/romkugler.jpg"
                         alt="Nam Nam lige noget for Jakup">
                </div>
                <div class="price">
                    <p>Pris 28;- </p>
                </div>
                <div class="buy">
                    <button class="button">køb</button>
                </div>
            </div>
            <div class="product-card">
                <div class="tittle">
                    <h4>Jordbær drøm</h4>
                </div>
                <div class="product-img">
                    <img class="fruit-cake"
                         src="~/img/lagskage.jpg"
                         alt="Nam Nam lige noget for Jakup">
                </div>
                <div class="price">
                    <p>Pris 30;- </p>
                </div>
                <div class="buy">
                    <button class="button">køb</button>
                </div>
            </div>
            <div class="product-card">
                <div class="tittle">
                    <h4>Jordbær cheesecake</h4>
                </div>
                <div class="product-img">
                    <img class="fruit-cake"
                         src="~/img/jordbaer.jpg"
                         alt="Nam Nam lige noget for Jakup">
                </div>
                <div class="price">
                    <p>Pris 32;- </p>
                </div>
                <div class="buy">
                    <button class="button">køb</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>