@page
@model LagkageHusWebApp.Pages.shoppageModel
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Document</title>
</head>
<body>
    <div id="wrapper">
        <div id="product-container">
            <div class="product-card">
                <div class="tittle">
                    <h3>Kanel Snegl</h3>
                </div>
                <div class="product-img">
                    <img class="fruit-cake"
                         src="https://majavase.dk/wp-content/uploads/2016/08/christianshavnert%C3%A6rte7-1024x683.jpg"
                         alt="Nam Nam lige noget for Jakup">
                </div>
                <div class="price">
                    <p>Pris 20;- </p>
                </div>
                <div class="buy">
                    <button class="button">køb</button>
                </div>
            </div>
            <div class="product-card">
            </div>
            <div class="product-card">
            </div>
            <div class="product-card">
            </div>
        </div>
    </div>
</body>
</html>